 {% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i>{ManitobaStore | Admin Panel}</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ecomapp:admin_home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ecomapp:admin_all_orders' %}">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'ecomapp:admin_product_list' %}">Products</a>
        </li>
      </ul>

    </div>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mx-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
        </li>
      </ul>
     </div>
  </div>
</nav><hr>
