{% extends 'base.html' %}


{% block title %}
forgot-password?
{% endblock title %}

 

{% block content %}

<div class="row">
    <div class="col-md-6 text-center ml-5 pl-5 mb-5">
        {% if request.GET.m == 's' %}
        <h3>Your password reset token is sent to your email. Please check your email</h3>
        {% else %}
        <h3 class="text-center">Enter the email address that you used during the account creation to reset your password</h3><hr>
        {% if request.GET.m == 'e' %}
        <h3 class="text-danger">Something went wrong! Please try another with email address</h3>
        {% endif %}
        <form class="border border-secondary" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary">Get Link</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock content %}